{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "es2015",
    "react",
    "@babel-preset"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}